<div id="blixt-web-container">
  <div id="blixt-web-phoneframe">
    <div id="blixt-web-root"></div>
  </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQZ-aPqIvq4VYQJM_rcyIJ9OgEds4l4dQ" type="text/javascript"></script>
<script>window.BLIXT_WEB_DEMO=1;</script>
<script src="/assets/blixt-web/app-970907af562ac89d60ee.bundle.js"></script>
<style>
@font-face {
  font-family: 'IBMPlexSans-Medium';
  src: url('/assets/blixt-web/IBMPlexSans-Medium.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans-Regular';
  src: url('/assets/blixt-web/IBMPlexSans-Regular.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AntDesign";
  src: url("/assets/blixt-web/AntDesign.ttf") format("truetype");
}

@font-face {
  font-family: "Entypo";
  src: url("/assets/blixt-web/Entypo.ttf") format("truetype");
}

@font-face {
  font-family: "EvilIcons";
  src: url("/assets/blixt-web/EvilIcons.ttf") format("truetype");
}

@font-face {
  font-family: "FontAwesome";
  src: url("/assets/blixt-web/FontAwesome.ttf") format("truetype");
}

@font-face {
  font-family: "FontAwesome5_Brands";
  src: url("/assets/blixt-web/FontAwesome5_Brands.ttf") format("truetype");
}

@font-face {
  font-family: "FontAwesome5_Solid";
  src: url("./assets/blixt-web/FontAwesome5_Solid.ttf") format("truetype");
}

@font-face {
  font-family: "Foundation";
  src: url("/assets/blixt-web/Foundation.ttf") format("truetype");
}

@font-face {
  font-family: "Ionicons";
  src: url("/assets/blixt-web/Ionicons.ttf") format("truetype");
}

@font-face {
  font-family: 'MaterialCommunityIcons';
  /* font-family: "Material Design Icons"; */
  src: url("/assets/blixt-web/MaterialCommunityIcons.ttf") format("truetype");
}

@font-face {
  font-family: "MaterialIcons";
  src: url("/assets/blixt-web/MaterialIcons.ttf") format("truetype");
}

@font-face {
  font-family: "Octicons";
  src: url("/assets/blixt-web/Octicons.ttf") format("truetype");
}

@font-face {
  font-family: "simple-line-icons";
  src: url("/assets/blixt-web/SimpleLineIcons.ttf") format("truetype");
}

@font-face {
  font-family: "Feather";
  src: url("/assets/blixt-web/Feather.ttf") format("truetype");
}

@font-face {
  font-family: "Zocial";
  src: url("/assets/blixt-web/Zocial.ttf") format("truetype");
}

#blixt-web-container {
  float: right;
  margin-left: 46px;
}

@media screen and (max-width: 600px) {
  #blixt-web-container {
    transform: scale(0.8);
    transform-origin: top;
    float: none;
    margin-top: 13px;
    margin-bottom: -155px;
    margin-left: -50px;
    margin-right: -50px;
    display: flex;
    justify-content: center;
  }
}

#blixt-web-phoneframe {
  background-image: url(/assets/images/phone-frame2_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 933px;
  display: flex;
}


#blixt-web-root {
  width: 400px;
  height: 800px;
  margin-top: 66px;
  margin-left: 27px;
}

#blixt-web-root > * {
  height: 100%;
  overflow: hidden;
}

#blixt-web-root * {
  scrollbar-width: none;
}

#blixt-web-root *::-webkit-scrollbar {
  display: none;
}
</style>
